/* styles.css


  .list-container {
    margin: 20px;
    width:400px;
    background-color: #4b4b4b;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .list-container h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .list-container ul {
    list-style: none;
    padding: 0;
  }
  
  .list-container li {
    margin-bottom: 5px;
  }
  
  .list-container strong {
    font-weight: bold;
  }
   */